.create-listing-for {
    background-color: #fff6e8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .create-listing-for .overlap-wrapper {
    background-color: #fff6e8;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .create-listing-for .overlap {
    position: relative;
    width: 1570px;
    height: 1035px;
    top: -11px;
    left: -88px;
  }
  
  .create-listing-for .overlap-group {
    position: absolute;
    width: 170px;
    height: 34px;
    top: 753px;
    left: 1012px;
  }
  
  .create-listing-for .rectangle {
    position: absolute;
    width: 34px;
    height: 165px;
    top: -66px;
    left: 66px;
    border-radius: 11px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .create-listing-for .text-wrapper {
    position: absolute;
    width: 118px;
    top: 3px;
    left: 52px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .create-listing-for .div {
    position: absolute;
    width: 1570px;
    height: 1035px;
    top: 0;
    left: 0;
  }
  
  .create-listing-for .overlap-2 {
    position: absolute;
    width: 88px;
    height: 33px;
    top: 633px;
    left: 1358px;
  }
  
  .create-listing-for .rectangle-2 {
    position: absolute;
    width: 33px;
    height: 88px;
    top: -28px;
    left: 27px;
    border-radius: 11px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .create-listing-for .text-wrapper-2 {
    position: absolute;
    width: 63px;
    top: 5px;
    left: 15px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .overlap-3 {
    position: absolute;
    width: 1570px;
    height: 666px;
    top: 0;
    left: 0;
  }
  
  .create-listing-for .text-wrapper-3 {
    position: absolute;
    width: 179px;
    top: 272px;
    left: 793px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .text-wrapper-4 {
    position: absolute;
    width: 179px;
    top: 354px;
    left: 793px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .text-wrapper-5 {
    position: absolute;
    width: 179px;
    top: 438px;
    left: 793px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .text-wrapper-6 {
    position: absolute;
    width: 179px;
    top: 520px;
    left: 793px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .text-wrapper-7 {
    position: absolute;
    width: 179px;
    top: 606px;
    left: 793px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .rectangle-3 {
    position: absolute;
    width: 89px;
    height: 1570px;
    top: -741px;
    left: 741px;
    border-radius: 30px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .create-listing-for .group {
    position: absolute;
    width: 1364px;
    height: 48px;
    top: 34px;
    left: 129px;
  }
  
  .create-listing-for .text-wrapper-8 {
    position: absolute;
    width: 491px;
    top: 4px;
    left: 44px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .icon-envelope {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 6px;
    left: -2px;
  }
  
  .create-listing-for .overlap-group-2 {
    position: absolute;
    width: 301px;
    height: 48px;
    top: 0;
    left: 1015px;
  }
  
  .create-listing-for .text-wrapper-9 {
    position: absolute;
    width: 301px;
    top: 4px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .emoji-instagram {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 2px;
    left: 249px;
  }
  
  .create-listing-for .icon-facebook-icon {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    left: 193px;
  }
  
  .create-listing-for .icon-call {
    position: absolute;
    width: 26px;
    height: 25px;
    top: 3px;
    
  }
  
  .create-listing-for .icon-twitter {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 3px;
  
  }
  
  .create-listing-for .rectangle-4 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 303px;
    left: 793px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .create-listing-for .rectangle-5 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 386px;
    left: 793px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .create-listing-for .rectangle-6 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 472px;
    left: 793px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .create-listing-for .rectangle-7 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 553px;
    left: 793px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .create-listing-for .rectangle-8 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 634px;
    left: 793px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .create-listing-for .overlap-4 {
    position: absolute;
    width: 564px;
    height: 947px;
    top: 88px;
    left: 88px;
  }
  
  .create-listing-for .group-2 {
    position: absolute;
    width: 159px;
    height: 175px;
    top: 380px;
    left: 317px;
  }
  
  .create-listing-for .vector {
    position: absolute;
    width: 48px;
    height: 49px;
    top: 0;
    left: 55px;
  }
  
  .create-listing-for .img {
    position: absolute;
    width: 87px;
    height: 39px;
    top: 61px;
    left: 35px;
  }
  
  .create-listing-for .text-wrapper-10 {
    position: absolute;
    width: 157px;
    top: 128px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .create-listing-for .element {
    position: absolute;
    width: 564px;
    height: 947px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .create-listing-for .untitled-design {
    position: absolute;
    width: 110px;
    height: 49px;
    top: 66px;
    left: 30px;
    object-fit: cover;
  }
  
  .create-listing-for .text-wrapper-11 {
    position: absolute;
    width: 345px;
    top: 141px;
    left: 935px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }