.submit-booking-form {
    background-color: #fff5e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .submit-booking-form .div {
    background-color: #fff5e7;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .submit-booking-form .overlap {
    position: absolute;
    width: 186px;
    height: 69px;
    top: 875px;
    left: 929px;
  }
  
  .submit-booking-form .rectangle {
    position: absolute;
    width: 34px;
    height: 165px;
    top: -66px;
    left: 76px;
    border-radius: 11px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .submit-booking-form .text-wrapper {
    position: absolute;
    width: 118px;
    top: 4px;
    left: 50px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .submit-booking-form .text-wrapper-2 {
    position: absolute;
    width: 186px;
    top: 44px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #c5221f;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .overlap-group {
    position: absolute;
    width: 1570px;
    height: 799px;
    top: -11px;
    left: -88px;
  }
  
  .submit-booking-form .overlap-2 {
    position: absolute;
    width: 1570px;
    height: 799px;
    top: 0;
    left: 0;
  }
  
  .submit-booking-form .text-wrapper-3 {
    position: absolute;
    width: 179px;
    top: 409px;
    left: 808px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .text-wrapper-4 {
    position: absolute;
    width: 179px;
    top: 493px;
    left: 808px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .text-wrapper-5 {
    position: absolute;
    width: 179px;
    top: 571px;
    left: 808px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .text-wrapper-6 {
    position: absolute;
    width: 179px;
    top: 653px;
    left: 808px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .text-wrapper-7 {
    position: absolute;
    width: 179px;
    top: 739px;
    left: 808px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .rectangle-2 {
    position: absolute;
    width: 89px;
    height: 1570px;
    top: -741px;
    left: 741px;
    border-radius: 30px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .submit-booking-form .group {
    position: absolute;
    width: 1364px;
    height: 48px;
    top: 34px;
    left: 129px;
  }
  
  .submit-booking-form .text-wrapper-8 {
    position: absolute;
    width: 491px;
    top: 4px;
    left: 44px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .icon-envelope {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 6px;
    left: -2px;
  }
  
  .submit-booking-form .overlap-group-2 {
    position: absolute;
    width: 301px;
    height: 48px;
    top: 0;
    left: 1015px;
  }
  
  .submit-booking-form .text-wrapper-9 {
    position: absolute;
    width: 301px;
    top: 4px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .emoji-instagram {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 2px;
    left: 249px;
  }
  
  .submit-booking-form .icon-facebook-icon {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    left: 193px;
  }
  
  .submit-booking-form .icon-call {
    position: absolute;
    width: 26px;
    height: 25px;
    top: 3px;
    left: 966px;
  }
  
  .submit-booking-form .icon-twitter {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 3px;
    left: 1333px;
  }
  
  .submit-booking-form .text-wrapper-10 {
    position: absolute;
    width: 452px;
    top: 298px;
    left: 783px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .submit-booking-form .rectangle-3 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 436px;
    left: 808px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .submit-booking-form .rectangle-4 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 519px;
    left: 808px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .submit-booking-form .rectangle-5 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 605px;
    left: 808px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .submit-booking-form .rectangle-6 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 686px;
    left: 808px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .submit-booking-form .rectangle-7 {
    position: absolute;
    width: 559px;
    height: 32px;
    top: 767px;
    left: 808px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #fff5e7;
  }
  
  .submit-booking-form .overlap-wrapper {
    position: absolute;
    width: 701px;
    height: 28px;
    top: 141px;
    left: 139px;
  }
  
  .submit-booking-form .overlap-3 {
    position: relative;
    width: 705px;
    height: 28px;
  }
  
  .submit-booking-form .group-2 {
    position: absolute;
    width: 705px;
    height: 28px;
    top: 0;
    left: 0;
  }
  
  .submit-booking-form .overlap-group-3 {
    position: absolute;
    width: 418px;
    height: 28px;
    top: 0;
    left: 0;
  }
  
  .submit-booking-form .text-wrapper-11 {
    position: absolute;
    width: 105px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .text-wrapper-12 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 70px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .text-wrapper-13 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 210px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .text-wrapper-14 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 489px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .text-wrapper-15 {
    position: absolute;
    width: 75px;
    top: 0;
    left: 318px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .text-wrapper-16 {
    position: absolute;
    width: 75px;
    top: 0;
    left: 388px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .submit-booking-form .overlap-4 {
    position: absolute;
    width: 345px;
    height: 93px;
    top: 500px;
    left: 144px;
  }
  
  .submit-booking-form .p {
    position: absolute;
    width: 255px;
    top: 39px;
    left: 24px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .text-wrapper-17 {
    position: absolute;
    width: 345px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .submit-booking-form .image {
    position: absolute;
    width: 206px;
    height: 162px;
    top: 310px;
    left: 158px;
    object-fit: cover;
  }
  
  .submit-booking-form .polygon {
    position: absolute;
    width: 16px;
    height: 12px;
    top: 349px;
    left: 1319px;
  }