.maintenance-report {
    background-color: #fff6e8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .maintenance-report .overlap-wrapper {
    background-color: #fff6e8;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .maintenance-report .overlap {
    position: relative;
    width: 1570px;
    height: 982px;
    top: -11px;
    left: -88px;
  }
  
  .maintenance-report .rectangle {
    position: absolute;
    width: 89px;
    height: 1570px;
    top: -741px;
    left: 741px;
    border-radius: 30px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .maintenance-report .group {
    position: absolute;
    width: 1364px;
    height: 48px;
    top: 34px;
    left: 130px;
  }
  
  .maintenance-report .text-wrapper {
    position: absolute;
    width: 491px;
    top: 4px;
    left: 44px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .icon-envelope {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 6px;
    left: -2px;
  }
  
  .maintenance-report .overlap-group {
    position: absolute;
    width: 301px;
    height: 48px;
    top: 0;
    left: 1015px;
  }
  
  .maintenance-report .div {
    position: absolute;
    width: 301px;
    top: 4px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .emoji-instagram {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 2px;
    left: 249px;
  }
  
  .maintenance-report .icon-facebook-icon {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    left: 193px;
  }
  
  .maintenance-report .icon-call {
    position: absolute;
    width: 26px;
    height: 25px;
    top: 3px;
    left: 966px;
  }
  
  .maintenance-report .icon-twitter {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 3px;
    left: 1333px;
  }
  
  .maintenance-report .overlap-group-wrapper {
    position: absolute;
    width: 692px;
    height: 28px;
    top: 133px;
    left: 175px;
  }
  
  .maintenance-report .overlap-2 {
    position: relative;
    width: 696px;
    height: 28px;
  }
  
  .maintenance-report .text-wrapper-2 {
    position: absolute;
    width: 75px;
    top: 0;
    left: 310px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .text-wrapper-3 {
    position: absolute;
    width: 75px;
    top: 0;
    left: 384px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .group-2 {
    position: absolute;
    width: 696px;
    height: 28px;
    top: 0;
    left: 0;
  }
  
  .maintenance-report .overlap-group-2 {
    position: absolute;
    width: 418px;
    height: 28px;
    top: 0;
    left: 0;
  }
  
  .maintenance-report .text-wrapper-4 {
    position: absolute;
    width: 105px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .text-wrapper-5 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 70px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .text-wrapper-6 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 210px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .text-wrapper-7 {
    position: absolute;
    width: 208px;
    top: 0;
    left: 480px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #0d0d0b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .img {
    position: absolute;
    width: 1299px;
    height: 630px;
    top: 352px;
    left: 147px;
  }
  
  .maintenance-report .rectangle-2 {
    position: absolute;
    width: 49px;
    height: 710px;
    top: -97px;
    left: 505px;
    background-color: #ffedd2;
    border-radius: 20px;
    transform: rotate(-90deg);
  }
  
  .maintenance-report .rectangle-3 {
    position: absolute;
    width: 37px;
    height: 205px;
    top: 155px;
    left: 504px;
    border-radius: 20px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .maintenance-report .text-wrapper-8 {
    position: absolute;
    width: 269px;
    top: 248px;
    left: 151px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .text-wrapper-9 {
    position: absolute;
    width: 269px;
    top: 248px;
    left: 391px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .text-wrapper-10 {
    position: absolute;
    width: 269px;
    top: 248px;
    left: 622px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .image {
    width: 356px;
    height: 221px;
    top: 154px;
    left: 1090px;
    position: absolute;
    object-fit: cover;
  }
  
  .maintenance-report .rectangle-4 {
    position: absolute;
    width: 50px;
    height: 1011px;
    top: -26px;
    left: 761px;
    border-radius: 6px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .maintenance-report .text-wrapper-11 {
    position: absolute;
    width: 115px;
    top: 374px;
    left: 1341px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .maintenance-report .text-wrapper-12 {
    position: absolute;
    width: 96px;
    top: 468px;
    left: 320px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .text-wrapper-13 {
    position: absolute;
    width: 301px;
    top: 391px;
    left: 694px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .maintenance-report .text-wrapper-14 {
    position: absolute;
    width: 301px;
    top: 871px;
    left: 1174px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .maintenance-report .text-wrapper-15 {
    position: absolute;
    width: 96px;
    top: 468px;
    left: 785px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .text-wrapper-16 {
    position: absolute;
    width: 168px;
    top: 468px;
    left: 966px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .text-wrapper-17 {
    position: absolute;
    width: 161px;
    top: 469px;
    left: 1151px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .vector {
    position: absolute;
    width: 10px;
    height: 8px;
    top: 475px;
    left: 412px;
  }
  
  .maintenance-report .vector-2 {
    left: 1040px;
    position: absolute;
    width: 10px;
    height: 8px;
    top: 475px;
  }
  
  .maintenance-report .vector-3 {
    left: 879px;
    position: absolute;
    width: 10px;
    height: 8px;
    top: 475px;
  }
  
  .maintenance-report .text-wrapper-18 {
    position: absolute;
    width: 96px;
    top: 468px;
    left: 495px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .maintenance-report .vector-4 {
    left: 595px;
    position: absolute;
    width: 10px;
    height: 8px;
    top: 475px;
  }
  
  .maintenance-report .image-2 {
    width: 944px;
    height: 312px;
    top: 508px;
    left: 295px;
    position: absolute;
    object-fit: cover;
  }