.homepage-supplier {
    background-color: #fff5e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage-supplier .overlap-wrapper {
    background-color: #fff5e7;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .homepage-supplier .overlap {
    position: relative;
    width: 1570px;
    height: 1041px;
    top: -11px;
    left: -88px;
  }
  
  .homepage-supplier .overlap-group {
    position: absolute;
    width: 1570px;
    height: 1041px;
    top: 0;
    left: 0;
  }
  
  .homepage-supplier .rectangle {
    position: absolute;
    width: 89px;
    height: 1570px;
    top: -741px;
    left: 741px;
    border-radius: 30px;
    transform: rotate(-90deg);
    background: linear-gradient(180deg, rgb(254, 193, 99) 0%, rgb(222, 67, 19) 100%);
  }
  
  .homepage-supplier .image {
    position: absolute;
    width: 1440px;
    height: 278px;
    top: 203px;
    left: 88px;
    object-fit: cover;
  }
  
  .homepage-supplier .group {
    position: absolute;
    width: 1364px;
    height: 48px;
    top: 34px;
    left: 130px;
  }
  
  .homepage-supplier .text-wrapper {
    position: absolute;
    width: 491px;
    top: 4px;
    left: 44px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .icon-envelope {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 6px;
    left: -2px;
  }
  
  .homepage-supplier .div {
    position: absolute;
    width: 301px;
    height: 48px;
    top: 0;
    left: 1015px;
  }
  
  .homepage-supplier .text-wrapper-2 {
    position: absolute;
    width: 301px;
    top: 4px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .emoji-instagram {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 2px;
    left: 249px;
  }
  
  .homepage-supplier .icon-facebook-icon {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    left: 193px;
  }
  
  .homepage-supplier .icon-call {
    position: absolute;
    width: 26px;
    height: 25px;
    top: 3px;
    left: 966px;
  }
  
  .homepage-supplier .icon-twitter {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 3px;
    left: 1333px;
  }
  
  .homepage-supplier .img {
    position: absolute;
    width: 1319px;
    height: 626px;
    top: 409px;
    left: 160px;
  }
  
  .homepage-supplier .p {
    position: absolute;
    width: 598px;
    top: 452px;
    left: 193px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage-supplier .text-wrapper-3 {
    position: absolute;
    width: 167px;
    top: 563px;
    left: 203px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #0d0d0b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .text-wrapper-4 {
    position: absolute;
    width: 163px;
    top: 563px;
    left: 374px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .homepage-supplier .overlap-group-wrapper {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 605px;
    left: 232px;
  }
  
  .homepage-supplier .overlap-2 {
    position: relative;
    width: 232px;
    height: 203px;
  }
  
  .homepage-supplier .rectangle-2 {
    position: absolute;
    width: 198px;
    height: 209px;
    top: -6px;
    left: 6px;
    background-color: #ffffff;
    border-radius: 11px;
    transform: rotate(-90deg);
    box-shadow: -1px 0px 4px #00000040;
  }
  
  .homepage-supplier .text-wrapper-5 {
    position: absolute;
    width: 79px;
    top: 179px;
    left: 17px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 7px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .text-wrapper-6 {
    position: absolute;
    width: 79px;
    top: 179px;
    left: 153px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #de4313;
    font-size: 7px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .text-wrapper-7 {
    position: absolute;
    width: 153px;
    top: 89px;
    left: 28px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #de4313;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .text-wrapper-8 {
    position: absolute;
    width: 177px;
    top: 103px;
    left: 16px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-supplier .group-2 {
    position: absolute;
    width: 45px;
    height: 8px;
    top: 168px;
    left: 149px;
  }
  
  .homepage-supplier .star {
    left: 0;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 0;
  }
  
  .homepage-supplier .star-2 {
    left: 9px;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 0;
  }
  
  .homepage-supplier .star-3 {
    left: 18px;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 0;
  }
  
  .homepage-supplier .star-4 {
    left: 27px;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 0;
  }
  
  .homepage-supplier .star-5 {
    left: 37px;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 0;
  }
  
  .homepage-supplier .div-wrapper {
    top: 606px;
    left: 472px;
    position: absolute;
    width: 240px;
    height: 203px;
  }
  
  .homepage-supplier .group-3 {
    top: 607px;
    left: 713px;
    position: absolute;
    width: 240px;
    height: 203px;
  }
  
  .homepage-supplier .element {
    top: 612px;
    left: 283px;
    position: absolute;
    width: 108px;
    height: 78px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-2 {
    top: 617px;
    left: 524px;
    position: absolute;
    width: 102px;
    height: 73px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-3 {
    top: 614px;
    left: 759px;
    position: absolute;
    width: 118px;
    height: 76px;
    object-fit: cover;
  }
  
  .homepage-supplier .group-4 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 606px;
    left: 955px;
  }
  
  .homepage-supplier .group-5 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 607px;
    left: 1195px;
  }
  
  .homepage-supplier .element-4 {
    top: 613px;
    left: 1006px;
    position: absolute;
    width: 108px;
    height: 78px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-5 {
    top: 618px;
    left: 1247px;
    position: absolute;
    width: 102px;
    height: 73px;
    object-fit: cover;
  }
  
  .homepage-supplier .group-6 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 836px;
    left: 234px;
  }
  
  .homepage-supplier .group-7 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 837px;
    left: 474px;
  }
  
  .homepage-supplier .group-8 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 838px;
    left: 715px;
  }
  
  .homepage-supplier .element-6 {
    top: 843px;
    left: 285px;
    position: absolute;
    width: 108px;
    height: 78px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-7 {
    top: 848px;
    left: 526px;
    position: absolute;
    width: 102px;
    height: 73px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-8 {
    top: 845px;
    left: 761px;
    position: absolute;
    width: 118px;
    height: 76px;
    object-fit: cover;
  }
  
  .homepage-supplier .group-9 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 837px;
    left: 957px;
  }
  
  .homepage-supplier .group-10 {
    position: absolute;
    width: 240px;
    height: 203px;
    top: 838px;
    left: 1197px;
  }
  
  .homepage-supplier .element-9 {
    top: 844px;
    left: 1008px;
    position: absolute;
    width: 108px;
    height: 78px;
    object-fit: cover;
  }
  
  .homepage-supplier .element-10 {
    top: 849px;
    left: 1249px;
    position: absolute;
    width: 102px;
    height: 73px;
    object-fit: cover;
  }
  
  .homepage-supplier .untitled-design {
    position: absolute;
    width: 135px;
    height: 71px;
    top: 112px;
    left: 1365px;
    object-fit: cover;
  }
  
  .homepage-supplier .navbar-wrapper {
    position: absolute;
    width: 365px;
    height: 28px;
    top: 133px;
    left: 174px;
  }
  
  .homepage-supplier .navbar {
    position: relative;
    width: 357px;
    height: 28px;
  }
  
  .homepage-supplier .text-wrapper-9 {
    width: 105px;
    left: 0;
    color: #de4313;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .homepage-supplier .text-wrapper-10 {
    width: 208px;
    left: 83px;
    color: #0d0d0b;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .homepage-supplier .text-wrapper-11 {
    width: 104px;
    left: 168px;
    color: #0d0d0b;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .homepage-supplier .text-wrapper-12 {
    width: 75px;
    left: 282px;
    color: #0d0d0b;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  